[submodule "algashop/microservices/algashop-ordering"]
	path = algashop/microservices/algashop-ordering
	url = https://github.com/dhsouza/algashop-ordering.git
[submodule "algashop/microservices/algashop-docs"]
	path = algashop/microservices/algashop-docs
	url = https://github.com/dhsouza/algashop-docs.git
